@page {
		size: letter;
}

/*
		I have no clue why but font-size 150% makes the page fit the way it shows
		when editing it.
*/
body {
	margin: 0px;
	padding: 0px;
}

.document {
	position: absolute:
	top: 0;
	left: 0;
	transform-origin: top left;
	transform: scale(1.15);
	-webkit-device-pixel-ratio: 2;
	min-resolution: 192px;
}

.page {
		width: 100%;
		display: block;
		margin: 0px;
}

.toolbar {
		display: none;
}
