.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.underline {
    text-decoration: underline;
}

/* Nothing has to be done for align-left */
.align-left {
    
}

.align-center {
    
}

.align-right {
    
}

.align-justify {
    
}

.align-right-spacer {
    display: inline-block;
}

.list.bullet {
    list-style-type: disc;
}

.list.number {
    list-style-type: decimal;
}

.list > li {
    padding-left: 10px;
    display: list-item !important;
    width: auto !important;
    overflow: visible;
}