.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.underline {
    text-decoration: underline;
}

/* Nothing has to be done for align-left */
.align-left {
    
}

.align-center {
    
}

.align-right {
    
}

.align-justify {
    
}

.align-right-spacer {
    display: inline-block;
}